In [ ]:
## Q - 1

In [1]:
print('Twinkle, twinkle, little star,');
print('\tHow I wonder what you are!');
print('\t\tUp above the world so high,');
print('\t\tLike a diamond in the sky.');
print('Twinkle, twinkle, little star,');
print('\tHow I wonder what you are');

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [ ]:
#### Q - 2

In [7]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [ ]:
## Q - 3

In [23]:
from datetime import datetime
print('System Date/Time : ', datetime.now() )
print('Formatted System Date/Time :' ,datetime.now().strftime('%d/%m/%y %H:%M:%S'))

System Date/Time :  2019-10-31 00:04:51.586539
Formatted System Date/Time : 31/10/19 00:04:51

In [ ]:
## Q - 4

In [5]:
radius = int(input('Enter Radisu of Circle :' ));
area = 3.14 * (radius ** 2); 
print('Area of the Circle of the given radius ' , str(radius) , ' is ' , str(area));

Enter Radisu of Circle :8
Area of the Circle of the given radius  8  is  200.96

In [ ]:
## Q - 5

In [16]:
first_nm = input('Enter First Name :');
last_nm = input('Enter Last Name ');
## Using Slice 
print((first_nm + ' ' + last_nm) [::-1]) 
## Using loop
st = '';
for char in first_nm + ' ' + last_nm:
    st = char + st;
print('First Name , Last Name : ' , first_nm , ' ' , last_nm);
print('Reversed Order First / Last Mame : ' , st)

Enter First Name :Rehman
Enter Last Name Zubair
riabuZ namheR
First Name , Last Name :  Rehman   Zubair
Reversed Order First / Last Mame :  riabuZ namheR

In [ ]:
## Q - 6

In [17]:
val1 = int(input('Enter Value 1 : '));
val2 = int(input('Enter Value 2 :'));
print('Addtion : ', val1 + val2);

Enter Value 1 : 10
Enter Value 2 :10
Addtion :  20